
.latest-posts{
  .post-item-wrapper {
    margin-bottom: 15px;
    @media (max-width: 450px) {
      margin-bottom: 36px;
    }
    .post-thumbnail{
      position: relative;
      .post-cat{
        position: absolute;
        top: 30px;
        left: 30px;
        background: $black;
        color: $white;
        font-size: 13px;
        font-family: 'GothamPro-Bold';
        text-transform: uppercase;
        padding: 4px 8px;
      }
    }
  }
  display: flex;
  justify-content: center;
  .post-content{
     padding: 28px;
     background: #F1F7FF;
     h5{
       a {
         color: $black;
         text-decoration: none;
         &:hover {
           text-decoration: none;
           color: $orange-base;
         }
       }
        text-transform: capitalize;
     }
  }
  .post-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    p{
      font-family: 'GothamPro';
      font-size: 12px;
      line-height: 24px;
      color: #B7B7B7;
      text-transform: uppercase;
    }
    > div {
        display: flex;
        flex-wrap: wrap;
    }
  }
}

.post-item-border{
  position: relative;
}

.post-item-border:before{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: transparent;
  transition: all .4s;
}

.post-item-border:hover:before{
  background: #FC6537;
}

.reports-item-content{
  position: relative;
  margin-bottom: 30px;
}

.reports-item-content:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: transparent;
  transition: all .4s;
}

.reports-item-content:hover:before{
  background: #FC6537;
}


.reports-cat{
  position: absolute;
  top: 30px;
  left: 30px;
  background: #00112C;
  color: #ffffff;
  font-size: 13px;
  font-family: 'GothamPro-Bold';
  text-transform: uppercase;
  padding: 4px 8px;
}

.reports-info{
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.reports-info h2 a{
  font-size: 42px;
  font-family: 'GothamPro-Bold';
  letter-spacing: 0px;
  color: #FFFFFF;
}

.reports-info h2 a:hover{
  text-decoration: none;
  color: #FC6537;
}

.reports-info-right{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.reports-info-right h5 a{
  line-height: 32px;
  color: #FFFFFF;
}

.reports-info-right h5 a:hover{
  text-decoration: none;
  color: #FC6537;
}

.reports-meta p{
  font-family: 'GothamPro';
  font-size: 12px;
  line-height: 24px;
  color: #B7B7B7;
  text-transform: uppercase;
}

@media(max-width:720px){
  .reports-info h2 a{
    font-size: 30px;
  }
  .reports-info{
    bottom: 30px;
    left: 30px;
  }
}

@media(max-width:575px){
  .reports-info h2 a{
    font-size: 22px;
    line-height: 32px;
  }
}
.attackers-title{
  margin-bottom: 84px;
}

.section-custom-hacker{
  padding: 30px 0px 120px 0px;
}

.hacker-title{
  margin-bottom: 57px;
}

.features-item-hacker{
  font-size: 18px;
}

.features-list .features-item-hacker:not(:last-child) {
  margin-bottom: 60px;
}

@media(max-width:767px){
  .attackers-img{
    display: none;
  }
  .attackers-title{
    margin-bottom: 50px;
  }
  .attackers-space{
    display: none;
  }
  .section-custom-hacker{
    padding: 0px 0px 50px 0px;
  }
  .hacker-title{
    margin-bottom: 30px;
  }
  .features-list .features-item-hacker:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-item-hacker{
    margin-bottom: 30px;
  }
}

@media(max-width:450px){
  .attackers-title{
    margin-bottom: -20px;
  }
  .features-list .features-item-hacker{
    margin: 0 0 30px 0;
  }
}

  .blog-container{
      max-width: 900px;
      padding: 0 25px;
      margin: 0 auto;
  }
  
  .blog_tag{
      padding: 10px 15px 10px 15px;
      border: 1px solid #c6c6c6;
      font-family: Gotham;
      font-size: 15px;
      line-height: 1.33;
      color:#8C8C8C;
  }
  .meta_info{
      font-family: Gotham;
      font-size: 12px;
      line-height: 2;
      color:$black;
      
  }
  .meta_info::before{
      display: inline-block;
      width: 24px;
      height: 24px;
      content: '';
      margin-top: 6px;
  }
  .meta_date::before{
      background-image: url(../images/calendar-blank.svg);
      margin-bottom: -6px;
  }
  .meta_view::before{
      background-image: url(../images/baseline-visibility-24px.svg);
      margin-left: 6px;
      margin-bottom: -7px;
  }
  .blog_quote{
      font-family: Chivo;
      font-size: 35px;
      line-height: 36px;
      letter-spacing: 0.01em;
      text-align: center;
      color: $black;
  }
 
  .blog-list_title{
      font-family: Chivo;
      font-size: 28px;
      line-height: 38px;
      color: $black;
  }
  @media(max-width:425px){
  .blog_quote{
      font-size: 28px;
  }
  .blog-list_title{
      font-size: 18px;
  
  }
}
.pagination {
  border-radius: 0;
  .page-link {
    margin-left: 5px;
    margin-right: 5px;
    border:none;
    position: relative;
    display: block;
    padding: 8px 12px 8px 12px;;
    line-height: 1.25;
    color: $black;
    background-color: transparent;
    border: none;
  }
  .page-item:first-child .page-link {
    border-radius: 0;
  }
  .page-item:last-child .page-link {
    border-radius: 0;
  }
  li a {
    &:hover {
      color: $orange-base;
    }
  }
  [aria-label="Previous"],
  [aria-label="Next"] {
    padding: 7px 5px 5px 14px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #E6E6E6;
    color: #E6E6E6;
    box-sizing: border-box;
    border-radius: 0;
    &:hover {
      background: rgba(252, 101, 55, 0.06);
      border: 1px solid rgba(252, 101, 55, 0.3);
      color: $orange-base;
      box-sizing: border-box;
    }
}
}
