//
// Default colors
// --------------------------------------------------

//== Colors
//


$orange-base:             #FC6537;
$orange-base-lighten:     rgba(252, 101, 55, 0.06);
$orange-base-lighten-hover:     rgba(252, 101, 55, 0.15);
$orange-second:           #E54B1C;
$white:                   #ffffff;
$white-ligten:            rgba(255, 255, 255, 0.1);
$white-ligten-hover:      rgba(255, 255, 255, 0.3);
$gray: #8c8c8c;
$black:					  #00112C;
$blue:					  #2C628C;
$grey-blue:               #3F536D;
$dark-blue:				  #1E2B4D;
$red:					  #CF514C;
$features-blue:			  #394B63;
$grey-border:             rgba(232, 232, 232, 0.2);

//== Scaffolding
//

//Body
$body-bg:               $white;

// Text
$text-color:            $black;

// link
$link-color:            $black;
$link-hover-color:      $orange-base;
$link-press-color:      $orange-second;
$link-hover-decoration: none;

// Heading color
$headings-color:        $black; //