//
// Default colors
// --------------------------------------------------

.button-primary {
  @include button-primary;
}
.button-invert {
  @include button-invert;
  font-family: 'GothamPro';
}
.button-secondary {
  @include button-secondary;
}
.button-extended {
  @include button-primary;
  font-family: 'GothamPro';
}
.button-extended-1 {
  @include button-primary;
  font-family: 'GothamPro-Bold';
  padding: 12px 39px;
}
.button-extended-2 {
  @include button-primary;
  font-family: 'GothamPro-Bold';
  padding: 12px 22px;
}
.button-arrow {
  @include button-arrow;
  display: inline-flex;
  margin-left: 10px;
  transition: all 0.2s;
  .arrow-right {
    margin-top: -2px;
    margin-left: 10px;
    transition: all 0.2s;
  }
      &:hover {
      .arrow-right {
        svg path {
          fill: $orange-base;
        }
      margin-left: 20px;
        transition: all 0.2s;
    }
  }
}
.button-mobile{
 	@media (max-width: 450px) {
		width: 100%;
	    text-align: center;
	    margin-top: 30px;
      a{
        width: 100%;
      }
    }
}