//
// Footer
// --------------------------------------------------
footer {
  .container {
    .row {
      @media (max-width:450px) {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
  .order-xs-12 {
    @media (max-width:450px) {
      order: 12;
    }
  }
  background-color: $grey-blue;
.invert .style-h3 {
text-transform: initial;
}
  .subscribe-form {
    padding-top: 12px;
    padding-left: 80px;
    @media (max-width:992px) {
      text-align: center;
      padding: 15px;
    }
    @media (max-width:450px) {
      text-align: center;
      padding: 20px 0;
    }
  }
  .subscribe-text {
    padding-right: 0;
    @media (max-width:1024px) {
      padding-right: 15px;
    }
    @media (max-width:450px) {
      padding: 0;
    }
  }
  .subscribe-section {
    h3 + p {
      margin-top: 0;
      @media (max-width:768px) {
        margin-top: 0;
      }
      @media (max-width:450px) {
        margin-top: 0;
      }
    }
    padding: 40px 109px 34px 109px;
    @media (max-width:1024px) {
    padding: 40px 20px 40px 20px;
    }
    @media (max-width:992px) {
      text-align: center;
      padding: 40px 20px 40px 20px;
    }
    @media (max-width:450px) {
      text-align: left;
      padding: 49px 0 20px 0;
      p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 14px;
      }
      h3 {
        margin-bottom: 12px;
      }
    }
  }
  .input-group-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:450px) {
      flex-direction: column;
    }
  }
  button.button-primary {
    font-family: 'GothamPro-Bold';
    background-color: $white;
    font-size: 15px;
    line-height: 24px;
    color: $black;
    width: 175px;;
    border: none;
    @media (max-width:450px) {
      width: 100%;
      margin-top:20px;
    }
  }
  .form-control {
    display: block;
    font-family: 'GothamPro';
    width: 100%;
    height: 48px;
    padding: 5px 18px;
    font-size: 18px;
    color: $white;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid $white;
    border-radius: 0;
    margin-right: 30px;
    @media (max-width:450px) {
      margin-right: 0;
    }
    @include placeholder {
      font-family: 'GothamPro';
      font-size: 18px;
      line-height: 24px;
      color: $white;
      opacity: 0.8;
    }
    &:focus {
      color: $white;
      opacity: 0.8;
      background-color: transparent;
      border: 1px solid $white;
      outline: 0;
      box-shadow:none;
    }
  }
  .style-h6 {
    margin-bottom: 9px;
  }
  .title-link {
    margin-top: 20px;
    margin-bottom: 80px;
    a {
      color: $white;
      text-decoration: none;
    }
    a:hover {
      color: $orange-base;
      text-decoration: none;
    }
  }
  .social-link {
    margin-top: 15px;
    a {
      margin-right: 15px;
    }
  }
}
.custom-border {
  position: relative;
  @include custom-border-after;
  border-bottom: 1px solid $grey-border;
  &.gray{
    border-color: RGBA(63,83,109,0.2);
  }
}
.footer-section-navigation {
  padding-top: 52px;
  padding-bottom: 27px;
  @media (max-width:450px) {
    div {
      padding-left: 0;
      padding-right: 0;
    }
    div:nth-child(3),
    div:nth-child(5) {
      margin-top: 37px;
    }
  }
}
.footer-logo {
  width: 174px;
  margin-bottom: 20px;
  margin-top: -4px;
  @media (max-width:450px) {
    text-align: center;
    width: 100%;
    margin-bottom: 54px;
  }
}
.custom-info {
  @media (max-width:450px) {
    margin-bottom: 48px;
  }
}
.invert .copyright {
  p {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.7;
    @media (max-width:450px) {
      font-size: 14px;
    }
  }
  @media (max-width:450px) {
    padding-left: 0;
    padding-right: 0;
  }
}
form {
  &.form-subscribe {
    margin-top: 0;
  }
  margin-top: 45px;
}
.footer-link li{
  font-family: 'GothamPro';
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.6;
  a {
  font-family: 'GothamPro';
  color: $white;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.6;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    opacity: 1;
  }
  @media (max-width:450px) {
    font-size: 12px;
    line-height: 20px;
  }
}
}
.footer-link li {
  margin-bottom: 7px;
  @media (max-width:450px) {
   padding-right: 10px;
    margin-bottom: 11px;
  }
}
.custom-info li {
  display: flex;
  vertical-align: top;
  margin-bottom: 12px;
  img {
    max-height: 18px;
    margin-top: 4px;
    margin-right: 12px;
  }
  a{
    font-family: 'GothamPro';
    color: $white;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
  p{
    font-family: 'GothamPro';
    color: $white;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}
.social-link a {
  &:hover {
  svg {
    circle {
      fill: $white;
    }

    path {
      fill: $orange-base;
    }
  }
}
}
//contact-form

.custom-info.about-us li {
  display: flex;
  vertical-align: top;
  margin-bottom: 20px;
  img {
    max-height: 20px;
    margin-right: 12px;
  }
  a{
    font-family: 'GothamPro';
    font-weight: bold;
    color: $black;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
  p{
    font-family: 'GothamPro';
    color: $black;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}

.social-link.contact-us {
  margin-top: 15px;
  a {
    margin-right: 15px;
  }
}

.social-link a {
  &:hover {
    svg {
      circle {
        fill: $white;
      }

      path {
        fill: $orange-base;
      }
    }
  }
}
.map-contact {
  width: 100%;
  margin-top: 54px;
  margin-bottom: 50px;
  iframe {
    width: 100%;
    height: 305px;
    min-width: 300px;
  }
}
.needs-validation {
  .form-group-check-box{
    display: flex;
    .input-checkbox{
      margin-right: 15px;
    }
  }
  input,
  button,
  select,
  optgroup,
  textarea {
    font-family: 'GothamPro';
    font-size: 16px;
    line-height: 24px;
    min-height: 1em;
    padding: 0;
  }
  textarea {
    padding: 10px;
  }
  select {
    min-height: 45px;
  }
  input,
  optgroup {
    padding: 22px 0;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 24px;
    border-radius: 0;
    min-width: 20px;
    margin-right: 15px;
}
  font-family: 'GothamPro';
  .form-control{
    height: 24px;
    border: none;
    border-bottom: 1px solid #8C8C8C;
    border-radius: 0 ;
    font-size: 16px;
    line-height: 24px;
  }
  .form-control-big {
    height: 153px;
    background: #FFFFFF;
    border: 1px solid #8C8C8C;
    box-sizing: border-box;
  }
  label {
    font-family: 'GothamPro';
    font-size: 16px;
    line-height: 20px;
    color: #00112C;
  }
  .flex-inline-about{
    display: flex;
    justify-content: space-between;
    :first-child {
      padding-right: 30px;
    }
    .form-group {
      width: 100%;
    }
  }

  ::-webkit-input-placeholder {
    color: #474544;
  }

  :-moz-placeholder {
    color: #474544;
    opacity: 1;
  }

  ::-moz-placeholder {
    color: #474544;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: #474544;
  }
  .btn-primary {
    background-color: #FC6537;
    color: $white;
    border: none;
    border-radius: 0;
    padding: 5px;
  }
  .full-width-alight-end{
    width: 100%;
    display: flex;
    align-items: flex-end;

    justify-content: flex-end;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .flex-inline-about {
    @media (max-width: 450px) {
      display: flex;
      flex-direction: column;
    }
  }
  .btn-primary {
    @include button-primary;
    @media (max-width: 450px) {
      margin: 0 auto;
    }
  }
}