/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 240px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  @media (max-width: 450px) {
    height: 80px;
  }
}
.gradient{
  position: relative;
  background: linear-gradient(#3F536D 0%, #3F536D 100%);
  &:before{
    content: url(../images/services.png);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.section-md{
  padding-top: 120px;
  padding-bottom: 100px;
  @media (max-width: 450px) {
      padding-top: 50px;
      padding-bottom: 33px; 
  }
}

.container-sm{
  max-width: 1100px;
  margin: 0 auto;

  .custom-border{
    margin: 59px 0 35px;
    @media (max-width: 450px) {
      margin: 35px 0;
    }
  }
}

.services{
  .row{
      .col-lg-4,
      .col-lg-12{
            padding-top: 10px;
            padding-bottom: 10px;
      }
  }
  @media (min-width: 1025px) {
    .row{
      margin-right: -26px;
      margin-left: -26px;
      .col-lg-4,
      .col-lg-12{
            padding-left: 26px;
            padding-right: 26px;
            padding-top: 26px;
            padding-bottom: 26px;
      }
    }
  }
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  h3{
    text-transform: capitalize;
    font-family: 'GothamPro-Bold';
    font-size: 22px;
    margin-top: 0;
    @media (max-width: 450px) {
      font-size: 16px;
      margin: 0;
    }
  }
  p{
    font-family: 'GothamPro'; /* Имя шрифта */
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
     @media (max-width: 450px) {
        display: none;
     }
  }
  .button-services{
      padding: 18px;
      background: $orange-base;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 0;
  }
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 20px; 
  @media (min-width: 1025px) {
     padding: 27px;
  }
}

/* Style the front side */
.flip-box-front {
  background-color: $white;
  color: $black;
  .img-services{
    margin-bottom: 17px;
    margin-left: 4px;
    @media (max-width: 450px) {
    margin: 0 15px 0 0;
      img{
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
  p{
    color: $black;
    @media (max-width: 450px) {
       max-width: 215px;
    }
  }
  .button-services{
     @media (max-width: 450px) {
        display: none;
     }  
  }
  @media (max-width: 450px) {
    display: flex;
    align-items: center;
  }
}

/* Style the back side */
.flip-box-back {
  background: $orange-base;
  transform: rotateY(180deg);
    h3{
      color: $white;
    }
    @media (max-width: 450px) {
        .button-services{
            position: relative;
            padding: 10px;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-back {
  transform: rotateX(180deg);
}


.features-item{
  display: flex;
  font-size: 22px;
  color: $black;
  align-items: center;
  line-height: 28px;
  text-transform: uppercase;
  word-break: break-word;
  img{
    padding: 20px;
    margin-right: 31px;
  }
  &.img-top{
    @media (min-width: 450px) {
      flex-direction: column;
      max-width: 200px;
      text-align: center;
      img{
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  &.align-end {
    @media (min-width: 450px) {
      margin: auto 0 auto auto;
    }
  }
  .invert & {
    color: $white;
  }
}

.project-list{
  .project-item{
    padding: 15px;
    @media (min-width: 450px) {
      padding: 26px 15px 26px 26px;
      min-height: 208px;
    }
    @media (max-width: 450px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    h5{
      text-transform: inherit;
      line-height: 28px;
      margin-bottom: 4px;
    }
    p{
      font-size: 14px;
      line-height: 20px;
    }
    img{
      margin-right: 20px;
      @media (min-width: 450px) {
        margin-right: 0;
        margin-bottom: 14px; 
      } 
    }
  }
}

.project-list{
  .row{
      .col-lg-4,
      .col-lg-12{
            padding-top: 10px;
            padding-bottom: 10px;
            @media (max-width: 450px) {
                padding-left: 5px;
                padding-right: 5px;
            }
      }
  }
  @media (min-width: 1025px) {
    .row{
      margin-right: -20px;
      margin-left: -20px;
      .col-lg-4,
      .col-lg-12{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
      }
    }
  }
}


.features-blue img,
.blue{
  background-color: $features-blue;
}
.features-orange img,
.orange{
  background-color: $orange-base;
}
.features-blue.rp-color img{
  @media (max-width: 450px) {
    background-color: $orange-base;
  }
}
.features-orange.rp-color  img{
  @media (max-width: 450px) {
    background-color: $features-blue;
  }
}
.features-dark-orange img{
  background-color: #FC6537;
  box-shadow: 0 22px 24px 0 rgba(252, 101, 55, 20%);
}
.features-dark-blue img{
  background-color: #1E2B4D;
  box-shadow: 0 22px 24px 0 rgba(30, 43, 77, 20%);
}
.features-red img{
  background-color: #CF514C;
  box-shadow: 0 19px 33px 0 rgba(207, 81, 76, 20%);
}
.features-light-blue img{
  background-color: #2C628C;
  box-shadow: 0 19px 33px 0 rgba(44, 98, 140, 20%);
}
.features-list.style-2 {
  @media (min-width: 450px) {
    margin-top: 65px;
  }

  span {
    font-size: 18px;
  }
  .box-1 {
    text-align: center;
    display: inline-flex;
    .features-item {
      flex-wrap: wrap;
      flex: 1 0 50%;
      img {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
.features-item{
  &:not(:last-child){
    margin-bottom: 0;
  }
  flex-direction: column;

  @media (max-width: 450px) {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    img{
      padding: 10px;
      margin-right: 19px;
    }
  }
}
}
.features-list .features-item{
  &:not(:last-child){
    margin-bottom: 40px;
  }
  @media (max-width: 450px) {
       margin-top: 40px;
       margin-right: 20px;
       margin-bottom: 0;
       font-size: 18px;
       line-height: 24px;
      img{
          padding: 10px;
          margin-right: 19px;
      }
  }
}

.feature-card:not(:last-child) {
  margin-bottom: 50px;
}
.feature-card .feature-card__content .feature-title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.feature-card__image {
  img {
    padding: 20px;
  }
}
.feature-card .feature-card__content .feature-description {
  margin: 0;
}

@media ( min-width: 1200px ) {
  .feature-card .feature-card__content .feature-title {
    height: 64px;
  }
}